/* BASE CLASSES */
#bd_image {
    background: url("../IMG/homework6.png") no-repeat 0 center;
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

#wrapper {
    position: relative;
    z-index: 1;
	width: 908px;
	margin: 0px auto;
}

.float_left {
	float: left;
}

.float_right {
    float: right;
}


.clearfix:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
     
}

.standard_list ul {
    display: block;
    list-style-type: none;

}

.standard_list li {
    display: block;
    float: left;

}

.standard_list a {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
    text-decoration: none;

}
.font {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;

}
/* END BASE CLASSES */

/* HEADER */


.hat {
	overflow: hidden;
	margin: 2px 0px 8px;
}


#phoneicon {
	margin: 3px 0px 0px 5px;
}

.header_text p {
    font-size: 17px;
    margin: 1px 4px 0px 3px;


}


#personicon {
	position: relative;
    width: 16px;
    margin-left: 4px;
    margin-top: 2px;
}

.no_style {
	background:transparent;
	border:none;
	color: white;
	font-size:10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
}

/* Login */ 

header p {
	font-size: 14px;
}

header div#login {
	display: inline;
	background: rgb(17, 66, 102); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(31, 102, 133), rgb(17, 66, 102)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(31, 102, 133), rgb(17, 66, 102)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(31, 102, 133), rgb(17, 66, 102)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(31, 102, 133), rgb(17, 66, 102)); /* Standard syntax */
    position: absolute;
    margin: 1px 0px 0px 4px;
    width: 55%;
    border-radius: 2px;
    box-shadow: 3px 3px rgb(215, 215, 215);

}

header form {
	display: inline-block;
	padding: 2px;

}

input[type=text], input[type=password] {
    width: 110px;
    height: 12px;

}




input[type=sub] {
	background-color: black;
	border: none;
	color: white; 

}


.reg_pas {
    margin:0px;
    padding: 3px 0px 0px 0px;
}

.reg_pas li {
	padding-left: 1px;
}
.reg_pas li a{
	border-left: 1px solid white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
	color: white; 
	text-decoration: none;
	font-size:10px;
	padding-left: 5px;
}
.reg_pas li a#forgot{
	color: rgb(191, 191, 191); 
	text-decoration: underline;
	border-left: none;
}
/* Contact Button */

header button[type=submit]{
    height: 22px;
    width: 76px;
    background-image: url("../IMG/contacticon.jpg");
    background-size: cover;
    border-radius: 10px;
    float: right;
    margin: 0px 5px 0px 0px
}

/* BigPicture */

figure {
	margin: 0px auto;
}


/* Nav */ 
.mainnav {
    margin: 0px auto;
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 11%, rgba(89,89,89,1) 12%, rgba(71,71,71,1) 18%, rgba(44,44,44,1) 26%, rgba(0,0,0,1) 47%, rgba(17,17,17,1) 72%, rgba(17,17,17,1) 78%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(11%, rgba(102,102,102,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(18%, rgba(71,71,71,1)), color-stop(26%, rgba(44,44,44,1)), color-stop(47%, rgba(0,0,0,1)), color-stop(72%, rgba(17,17,17,1)), color-stop(78%, rgba(17,17,17,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 11%, rgba(89,89,89,1) 12%, rgba(71,71,71,1) 18%, rgba(44,44,44,1) 26%, rgba(0,0,0,1) 47%, rgba(17,17,17,1) 72%, rgba(17,17,17,1) 78%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 11%, rgba(89,89,89,1) 12%, rgba(71,71,71,1) 18%, rgba(44,44,44,1) 26%, rgba(0,0,0,1) 47%, rgba(17,17,17,1) 72%, rgba(17,17,17,1) 78%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 11%, rgba(89,89,89,1) 12%, rgba(71,71,71,1) 18%, rgba(44,44,44,1) 26%, rgba(0,0,0,1) 47%, rgba(17,17,17,1) 72%, rgba(17,17,17,1) 78%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 11%, rgba(89,89,89,1) 12%, rgba(71,71,71,1) 18%, rgba(44,44,44,1) 26%, rgba(0,0,0,1) 47%, rgba(17,17,17,1) 72%, rgba(17,17,17,1) 78%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );

}


.mainnav ul {
    overflow: hidden;
    margin: 0px 0px 0px 130px;
    padding:7px 0px;

}

.mainnav li{
    display: block;
}

.mainnav li a {

	font-size: 14px;
    color: rgb(177, 188, 192);    
    border: 1px
    border-radius: 10px;
    text-align: center;
    padding: 0px 20px;
}

.mainnav a:hover{
	background-color: rgb(28, 94, 126);
	color: white;
	border-radius: 10px;
}

#shopping_cart {
    margin-left: 12px;
}

.mainnav li span.items {
	font-size:10px;
	color: white;
    padding-left:45px;
    padding-top:5px;
	margin-left: 42px;
    background-image: url("../img/shoppingcart.jpg");
    background-size: initial;
    background-repeat: repeat-y;
    background-position: left;
}

.mainnav li span.items2 {
    color:white;
    font-size: 10px;
    margin-left: 53px;
}
 li span#pic {
	margin-left: 57px;
}
nav li span.count {
	font-size: 12px;
	color: rgb(13, 90,143);
}



nav div#shoppingCart {
	display: inline-block;
    margin-top: 16px;
    position: absolute;
}

/* END HEADER */

/* FLOATING BOXES BEGIN */

.wrapper {
    margin: 0px auto;
    overflow: hidden;
}

.floatbox{
	display: inline-block;
    border-radius: 18px;
    border: 1px solid rgb(203, 203, 203);
    box-shadow: 4px 4px 4px rgb(203, 203, 203);
}



/*floatbox 1*/

.one{
	width: 45%;
    margin: 9px 4px;

}

.floatbox p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
    color: rgb(21, 68, 104);

}
.one header {
    display: inline;
    position: absolute;
    width: 30%;
}

.one #head_text {
    margin: 0px -144px 0px 0px;
    text-align: center;
    font-size: 12px;

}

.one #tires {
    float: right;
    margin: -12px -108px 0px 0px;
    font-size: 10px;
}

.one #discs {
    float: left;
    margin: -10px 0px 0px 22px;
    font-size: 10px;
}


/* This is the standard set of attributes for labels */
.stan_label { 
    text-align: right;
    display: inline-block;
    width: 100px;
    font-size: 10px;
    color: black;
}

.one select {
    width: 100px;
    height: 18px;
    margin-left: 28px;
}

#form1 {
    padding-top: 23px;
    margin-left: -44px;
}

.form_wrap {
    overflow: visible;
 
}

#wrap1 {
    margin-right: -8px;
    width: 272px;


}

#wrap2 {
    float: left;
    margin: -109px 0px 0px 41px;
    width: 200px;
}

#box1_button {
    margin-right: -190px;
}
.small_let {
    font-size:6px;
    color:gray;
}

#form2 {
    margin-left: -37px;
    padding-top: 20px;
    padding-bottom: 8px;
}

#form2 select {
    width: 100px;
}
/* TireSearch[floatbox2] */
.two{
    width: 21%;
    margin: 11px 13px;
   
}

.two header p {
    font-size: 12px;
    margin: 0px 0px 0px 10px;

}

#size_wrap {
    overflow: hidden;
    width: 100%;
}

.two form {
    margin: 3px 0px 0px -47px;
}

form #size {
    margin-left: 20px;
    margin-top: 5px;
}

#size p {
    display: inline;
}

#size select {
    margin-top: 2px;
    height: 18px;
    width: 50px;
    font-size: 12px;
}
#r_and_seasons {
    margin: 3px 0px 0px 48px;     
    padding-bottom: 10px;
}

#r {
    margin:0px 0px 0px -48px;
}


#r select {
    height: 16px;
    width: 45px;
    font-size: 12px;
}
#season {
    margin: 0px 0px 0px -48px;
}

#summer {
    margin-left: -50px;
}

#winter {
    margin-left: 45px;
}

#allseason {
    margin-left: 67px;
}

#season input[type="checkbox"] {
    height: 10px;
    width: 10px;
    padding: none;
}

#special_button {
    margin-top: -17px;
}
/* Disc Search[floatbox3] */
.three {
    width: 29%;
    margin: 12px 0px 0px -2px;
	
}


#dco {
    overflow: visible;
    padding-bottom: 8px;
    margin-top: -20px;
}

.three header p {
    font-size: 12px;
    margin: 0px 0px 0px 42px;
}
#disc_search {
    overflow: hidden;
    width: 658;
    margin-top: 2px;
    border-right: 1px solid rgb(189, 198, 202)
}

select[name="num_support_holes"] {
    margin-top: 13px;
    width: 50px;
}

select[name="diam_support_holes"] {
    margin-top: 15px;
}

#diameter {
    margin-left: -28px;

}

.disc_search_box {
    width: 55px;
    height: 18px;
    margin-left: 29px;
    font-size: 10px;
}

#dco_head {
    margin: 9px 0px 0px -12px;
    text-align: center;
}

#dco_select {
    margin: 2px 0px 0px 11px;

}

.dco_box {
    height: 19px;
    width: 61px;
    font-size: 12px;

}

#et_head {
    text-align: center;
    margin: 3px 0px 0px -12px;
}

#disk_crash_select {
    margin-left: 11px;
}

button[value="search"] {
    float: right;
    text-decoration: underline;
    border: none;
    background: none;
    font-size: 14px;
    color: rgb(21, 68, 103);
    padding-right: 13px;
    margin-top: -1px;
    padding-bottom: 10px;
}

button[value="search"]:hover {
      color: rgba(21, 68, 103, .5);
      border: none;

}

/* END OF FLOATING BOXES */

#asides_and_main {
    overflow: hidden;
    margin: 0px auto;

}
/* SectionCatalogProducts[Aside] */

aside{
	width: 18%;

}
.head_class h6{
    font-size: 14px;
    color: rgb(12, 50, 86);
    border: 1px solid rgb(12, 50, 86) ;
    padding: 5px 4px 5px 33px;
    border-radius: 15px;
    margin: 0px;
    height: 17px;
    width: 112px;
    background-image: url("../IMG/circleicon.jpg");
    background-position: left;
    background-position-x: 5px;
    background-position-y: 2px;
    background-repeat: no-repeat;
}

#catalog {
    background-image: url("../IMG/documenticon.jpg");
    background-repeat: no-repeat;
    margin-top: 10px;
    width: 143px;
}   

#tires2 {
    margin-top: 8px;


}

#discs2 {
    margin-top: 11px;

}

#bolts {
    margin-top: 2px;
}
#left_aside ul {
    list-style-type: circle;
    margin: 0px;

}


#left_aside li a {
	text-decoration: none;
	font-size: 15px;
	color: rgb(12, 50, 86);
}

#left_aside li a:hover{
	font-style: italic;
	text-decoration: underline;
}


/* SectionBrands[Aside] */
#right_aside {
	font-size: 15px;
    color: rgb(12, 50, 86);

}

#brands {
    background-image:url("../IMG/documenticon.jpg");
    margin: 7px 0px 0px -20px;
    width: 143px;
}

#right_tires {
    margin: 12px 0px 0px -4px;
    width: 99px
}

#tires_form {
    margin: 5px 0px 0px 7px;
}

#right_discs {
    margin: 12px 0px 0px -6px;
    width: 100px;
}

#discs_form {
    margin: 9px 0px 0px 5px;
}

#right_button {
    color: white;
    border-radius: 15px;
    background-color: rgb(12, 50, 86);
    border: none;
    margin: 16px 0px 0px 5px;
    width: 80px;

}

#right_button:active {
    background-color: rgba(12, 50, 86, .5);
      

}

/* END OF ASIDES */

/* MAIND SECTION */
main {
    float: left;
    width: 58%;
    background-image: url("../IMG/main.jpg");
    margin: 4px 25px

}

#float_boxes {
    overflow: hidden;
    margin: -6px 11px 30px 0px;
}
.fig {
    float: left;
    display: inline;
    width: 26%;
    margin: 14px 4px 0px 26px;
    color: rgb(17, 65, 101);

}
.fig img {
    border: 1px solid rgb(167, 177, 180);
    border-radius: 6px
}
.fig h5 {
    font-size: 14px;
    text-align: center;
    margin: 0px;
}

.fig p {
    color: black;
    font-size: 13px;
    margin: -5px 0px 0px 0px;
    text-align: center;
}

.figcap {
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
    color: rgb(17, 65, 101);
    text-align: center;
    margin: 0px;
}

/* BrandLogoes[Figure] */
.logos{
    margin: 24px 0px 22px 110px;
    width: 88%;
    height: 38px;
    background-image: url("../IMG/brands.jpg");
    background-repeat: no-repeat;

}

.logos ul {
    margin: 0px 234px;
    padding-top: 12px;

}

.logos a {
    font-size: 10px;
    color: black;
}

.custom_a {
    padding-right: 8px;
}
.logos a:hover {
    color: rgba(118, 154, 173, .5);
    text-decoration: underline;
}
/* Footer */

footer {
	height: 100px;
	border: 1px solid black;
	background-color: rgb(17, 65, 101);
	margin: auto;

	
}


footer ul {
    margin: 10px 425px 0px;

}


footer li a {
	display: block;
	color: white; 
	padding: 0px 15px 0px;
	font-size: 12px;
    text-align: center;
    border-right: 1px solid white;
	

}

a#sans{
	border-right: none;
}

footer a:hover {
	color: rgb(71, 146, 175);
}

footer p{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
	font-size: 10px;
	color: rgb(127, 71, 64);
    margin: 38px 0px 0px 547px;
}





