@media (max-width: 768px) {

    header {

        width: 100%;
        height: 800px;
        margin: 0px auto;
        overflow: hidden;
        background-image: url("../img/header_background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    #head_container {
        height: 30%;
        margin: 0% auto;

    }

    #nav_logo {
        width: 100%;
        padding-top: 60px;
        padding-left: 0px;

    }

    #head_nav {

        width: initial;
        padding-left: 0;
        float: left;

    }

    #head_nav ul {
        list-style-type: none;
        text-decoration: none;

    }

    #head_nav li {
        display: inline;
    }

    #head_nav a {
        font-family: league_gothic, Verdana, Geneva, "DejaVu Sans", sans-serif;
        color: white;
        font-size: 24px;
        text-decoration: none;
        text-align: center;
        margin: 0px 18px 0px 2px;
    }

    #slide_wrap {
        background-color: rgba(56, 62, 50, .2);
        height: 50%;
        top: 33%;
    }

    #slide_wrap_content {
        width: initial;
        margin: 0% auto;
    }

    #slide_text_container {
        width: 50%;
        padding: 82px 0px 0px 33px;
    }

    #slider_headline {
        font-family: league_gothic, Verdana, Geneva, "DejaVu Sans", sans-serif;
        color: white;
        font-size: 48px;

    }

    #slider_sub {
        font-family: league_gothic, Verdana, Geneva, "DejaVu Sans", sans-serif;
        color: rgb(237, 191, 255);
        font-size: 22px;

    }

    #iphone_image {
        width: 35%;
        margin-top: -28px;
        padding-left: 38px;
    }

    #buttons {
        padding: 96px 146px 0px 0px;
    }

    #box_container {
        width: initial;
        margin: 0px auto;

    }

    .inner_div {
        padding-left: 74px;

    }

    .about_header {
        font-size: 24px;
    }

    .read_more_text {
        padding-top: 3px;
        line-height: 24px;

    }

    .read_more_link {
        text-decoration: none;
        font-size: 20px;
        padding: 28px 15px 65px 0px;
    }

    .read_more_link:hover {
        text-shadow: 1px 1px 10px white;
    }

    .read_more {
        width: 32%;
        margin: 73px 0px 0px 3px;
    }

    #recent_updates {
        width: 100%;
        margin: 0px auto;
        padding-bottom: 0px;
        background-color: rgb(249, 249, 249);

    }

    #recent_updates_wrapper {
        width: initial;
        overflow: hidden;
        margin: 0% auto;
    }

    #recent_updates_header {
        padding-left: 46px;
    }

    #news_bullets {
        width: 50%;
    }

    .bullet {
        background-image: url(../img/button.png);
        background-repeat: no-repeat;
        background-position: 45px 14px;
        height: 50px;
        min-height: 61px;
        margin-top: 21px;
        padding: 14px 0px 0px 30px;
    }

    .bullet p {
        padding-left: 74px;
        line-height: 14px;
    }

    #slider_buttons2 {
        padding: 0px 0px 0px 208px;
    }

    #read_more_now {
        color: black;
        font-size: 18px;
        text-decoration: none;
        padding: 26px 0px 0px 387px;
    }

    #logo_wrapper {
        width: initial;
        margin: 0px auto;
    }

    #logo_image {
        padding: 16px 0px 20px 3px;
    }

    #comments_categories_wrapper {
        width: initial;
        margin: 0px auto;
        overflow: hidden;

    }

    #first_block {
        padding-bottom: 40px;
        display: none;
    }

    .comments_categories_block {
        width: 28%;
        padding: 90px 14px 0px;
    }

    .comments_categories_head {
        font-family: league_gothic, Verdana, Geneva, "DejaVu Sans", sans-serif;
        color: rgb(69, 69, 69);
        font-size: 48px;

    }

    #comments_categories_er {
        color: rgb(185, 185, 185);
        font-size: 48px;
    }

    .comments_categories_text {
        font-family: open_sans, Verdana, Geneva, "DejaVu Sans", sans-serif;
        font-size: 16px;
        color: rgb(120, 120, 120);
        padding-top: 13px;
        width: 90%;

    }

    #recent_comments {
        font-size: 22px;
    }

    .news_categories {
        font-size: 22px;
    }

    #ghost_block {
        display: inline;
    }

    #signature {
        font-size: 12px;
        padding-top: 98px;
        padding-right: 32px;
    }

    #sig_shift {
        font-size: 14px;

    }
}

@media (max-width: 480px) {
    header {

        width: 100%;
        height: 530px;
        margin: 0px auto;
        overflow: hidden;
        background-image: url("../img/header_background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    #head_container {
        height: 25%;
        margin: 0% auto;
        overflow: visible;

    }

    #nav_logo {
        width: 100%;
        padding-top: 42px;
        padding-left: 42%;

    }

    .dropdown_menu {
        visibility: hidden;
        display: none;
        position: relative;
        display: inline-block;
        margin-left: 33%;
        margin-top: 5%;
        font-size: 24px;
        z-index: 10;

    }

    .dropdown_menu {
        visibility: initial;
    }

    #head_nav {
        width: 60%;
        padding-left: 0;
        margin: 29% 30%;
        position: absolute;
    }

    #head_nav ul:hover li {
        display: block;

    }

    #head_nav ul:hover {
        background: rgba(72, 59, 78, .7);
        border-radius: 10px;
    }

    #head_nav li {
        display: none;
        float: none;
        text-align: center;
    }

    #head_nav li:first-child {
        display: block;
    }

    #head_nav a {
        font-family: league_gothic, Verdana, Geneva, "DejaVu Sans", sans-serif;
        color: white;
        font-size: 24px;
        text-decoration: none;
        text-align: center;
        margin: 0;
        float: none;
        display: block;
        padding: 2% 0;
    }

    #slide_wrap {
        background-color: rgba(56, 62, 50, .2);
        height: 41%;
        margin-top: 75px;
    }

    #slide_wrap_content {
        margin: 0% auto;
        overflow: visible;
    }

    #slide_text_container {
        width: 50%;
        padding: 61px 0px 0px 70px;
    }

    #slider_headline {
        font-family: league_gothic, Verdana, Geneva, "DejaVu Sans", sans-serif;
        color: white;
        font-size: 36px;

    }

    #slider_sub {
        font-family: league_gothic, Verdana, Geneva, "DejaVu Sans", sans-serif;
        color: rgb(237, 191, 255);
        font-size: 18px;

    }

    #slider_content {
        line-height: 24px;
        visibility: hidden;
    }

    #iphone_image {
        width: 36%;
        margin-top: -14px;
        padding-left: 0px;
        margin-left: -10px;
    }

    #buttons {
        float: left;
        padding: 13px 0px 0px 0px;
        margin-left: -68px;
    }

    #box_container {
        width: initial;
        margin: 0px auto;

    }

    .inner_div {
        padding-left: 74px;

    }

    .about_header {
        font-size: 24px;
    }

    .read_more_text {
        padding-top: 3px;
        line-height: 24px;

    }

    .read_more_link {
        text-decoration: none;
        font-size: 19px;
        padding: 16px 1px 79px 0px;
    }

    .read_more_link:hover {
        text-shadow: 1px 1px 10px white;
    }

    #last_block {
        margin: -63px 0px -10px 28px;
    }

    .read_more {
        width: 100%;
        margin: -63px 0px 0px 28px;
    }

    #recent_updates {
        width: 100%;
        margin: 0px auto;
        padding-bottom: 0px;
        background-color: rgb(249, 249, 249);

    }

    .recent_updates_box {
        margin: 130px 0px 0px 0px;
        width: 100%;
    }

    #recent_updates_wrapper {
        width: initial;
        overflow: hidden;
        margin: 0% auto;
    }

    #updates_text_wrapper {
        background-color: white;
        width: 86%;
        margin-right: 0px;
        margin-top: -32px;
    }

    #recent_updates_header {
        padding-left: 46px;
    }

    #news_bullets {
        width: 100%;
        margin: 31px 0px 0px 72px;
    }

    .bullet {
        background-image: url(../img/button.png);
        background-repeat: no-repeat;
        background-position: 45px 14px;
        height: 50px;
        padding: 14px 0px 0px 30px;
    }

    .bullet p {
        padding-left: 74px;
        line-height: 14px;
    }

    #slider_buttons2 {
        padding: 0px 0px 0px 224px;
        margin-top: -10px;
    }

    #read_more_now {
        color: black;
        font-size: 18px;
        text-decoration: none;
        padding: 26px 0px 0px 387px;
    }

    #first_about_block {
        margin-top: 72px;
    }

    #logo_wrapper {
        width: initial;
        margin: -10px 0px 0px 11px;
    }

    #logo_image {
        padding: 16px 0px 20px 3px;
        display: none;
    }

    #logo_image2 {
        display: initial;
        padding: 100px 0px 36px 76px;
    }

    #comments_categories_wrapper {
        width: initial;
        margin: 0px auto;
        overflow: hidden;
        padding-bottom: 70px;

    }

    #first_block {
        padding-bottom: 40px;
        display: none;
    }

    .comments_categories_block {
        width: 100%;
        padding: 38px 45px 0px;
    }

    #second_block {
        padding-top: 74px;
    }

    .foot_nav {
        font-size: 18px;
        padding: 46px 14px 0px 15px;
        text-decoration: none;
        text-shadow: 2px 2px 8px black;
    }

    #foot_wrapper {
        margin: -4px -34px 0px 38px;
    }

    #signature {
        font-size: 14px;
        padding: 32px 150px 100px 0px;
    }

    #sig_shift {
        font-size: 16px;

    }
}

@media (max-width: 320px) {
    header {

        width: 100%;
        height: 500px;
        margin: 0px auto;
        overflow: hidden;
        background-image: url("../img/header_background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    #head_container {
        margin: 0% auto;
    

    }

    #nav_logo {
        width: 100%;
        padding-top: 42px;
        padding-left: 36%;

    }



    #head_nav {

    }

    #head_nav ul {
        list-style-type: none;
        text-decoration: none;

    }


    #head_nav a {
        text-decoration: none;
        text-align: center;
       
    }

    #slide_wrap {
        background-color: rgba(56, 62, 50, .2);
        height: 41%;
        margin-top: 75px;
    }

    #slide_wrap_content {
        width: initial;
        margin: 0% auto;
    }

    #slide_text_container {
        width: 100%;
        padding: 72px 0px 0px 72px;
    }

    #slider_headline {
        font-family: league_gothic, Verdana, Geneva, "DejaVu Sans", sans-serif;
        color: white;
        font-size: 36px;

    }

    #slider_sub {
        font-family: league_gothic, Verdana, Geneva, "DejaVu Sans", sans-serif;
        color: rgb(237, 191, 255);
        font-size: 18px;

    }

    #slider_content {
        line-height: 24px;
        visibility: hidden;
        display: none;
    }

    #iphone_image {
        width: 36%;
        margin-top: -14px;
        padding-left: 0px;
        margin-left: -10px;
        display: none;
    }

    #buttons {
        float: left;
        padding: 7px 0px 0px 0px;
        margin-left: 150px;
    }

    #box_container {
        width: initial;
        margin: 0px auto;

    }

    .inner_div {
        padding-left: 74px;

    }

    .about_header {
        font-size: 24px;
    }

    .read_more_text {
        padding-top: 3px;
        line-height: 24px;

    }

    .read_more_link {
        text-decoration: none;
        font-size: 19px;
        padding-bottom: 80px;
        margin-top: -25px;
    }

    .read_more_link:hover {
        text-shadow: 1px 1px 10px white;
    }

    #last_block {
        margin: -47px 0px -20px 28px;
    }

    .read_more {
        width: 100%;
        margin: -63px 0px 0px 28px;
    }

    #recent_updates {
        width: 100%;
        margin: 0px auto;
        padding-bottom: 32px;
        background-color: rgb(249, 249, 249);

    }

    .recent_updates_box {
        margin: 130px 0px 0px 0px;
        width: 100%;
    }

    #recent_updates_wrapper {
        width: initial;
        overflow: hidden;
        margin: 0% auto;
    }

    #updates_text_wrapper {
        background-color: white;
        width: 86%;
        margin-right: -22px;
        margin-top: -32px;
    }

    #recent_updates_header {
        padding-left: 46px;
    }

    #review_body {
        padding: 18px 40px;
    }

    #testimonial_box {
        margin-top: 88px;
        height: 255px;
        overflow: hidden;
    }

    #news_bullets {
        width: 100%;
        margin: 86px 0px 0px 0px;
    }

    .bullet {
        background-image: url(../img/button.png);
        background-repeat: no-repeat;
        background-position: 45px 14px;
        height: 50px;
        min-height: 61px;
        margin-top: 25px;
        padding: 14px 0px 0px 30px;
        width: 100%;
    }

    .bullet p {
        padding-left: 74px;
        line-height: 14px;
    }

    #slider_buttons2 {
        padding: 0px 0px 0px 224px;
        margin-top: -10px;
    }

    #read_more_now {
        color: black;
        font-size: 18px;
        text-decoration: none;
        padding: 26px 0px 0px 387px;
    }

    #first_about_block {
        margin-top: 64px;
    }

    #logo_wrapper {
        width: initial;
        margin: -10px 0px 0px 11px;
    }

    #logo_image {
        padding: 16px 0px 20px 3px;
        display: none;
    }

    #logo_image2 {
        display: none;
    }

    #logo_image3 {
        display: initial;
        padding: 57px 0px 64px 52px;
    }

    #comments_categories_wrapper {
        width: initial;
        margin: 0px auto;
        overflow: hidden;
        padding-bottom: 70px;

    }

    #first_block {
        padding-bottom: 40px;
        display: none;
    }

    .comments_categories_block {
        width: 100%;
        padding: 38px 45px 0px;
    }

    #second_block {
        padding-top: 74px;
    }

    #comments_categories {
        display: none;
        width: 100%;
        margin: 0px auto;
        background-color: rgb(236, 236, 236);

    }

    .foot_nav {
        display: none;
        font-size: 18px;
        padding: 46px 14px 0px 15px;
        text-decoration: none;
        text-shadow: 2px 2px 8px black;
    }

    #foot_wrapper {
        margin: -4px -34px 0px 38px;
    }

    #signature {
        font-size: 14px;
        padding: 42px 91px 100px 0px;
    }

    #sig_shift {
        font-size: 16px;

    }

}